@import "./utils/colors";
.expressionBox {
  display: flex;
  flex-direction: row;
  gap: 10px;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    a {
      text-decoration: underline;
      cursor: pointer;
      color: $purple;
    }
  }
}
