@import "./utils/fonts";
@import "./utils/theme";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  padding: 40px 0;
}
button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}
